<hr/>
<div class="footer-container">
    <p>© {% year %} Jawaids's Portfolio</p>
    <div class="social_icons">
        <a href="https://twitter.com/mjawaids" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://github.com/mjawaids" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/mjawaids" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>