<div class="hero-container">
    <div class="hero-text">
        <h1>Hey, I'm Jawaid 👋</h1>
        <p>
            I'm a software developer based in Karachi, Pakistan. I specialize in building exceptional websites, applications, and
            everything in between.
        </p>
        <div class="social-icons">
            <a href="https://twitter.com/mjawaids">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://github.com/mjawaids">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/mjawaids/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>